//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at
         http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

extends ../templates/layout

append scripts
    script(src='/sql-controller.js')

    script(src='//cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/theme-chrome.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-sql.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js')

block container
    .row
        .col-sm-12(ng-init='noteId = "#{noteId}";')
            .docs-content(ng-controller='sqlController' )
                .docs-header.notebook-header
                    h1.col-sm-6(ng-hide='notebook.edit')
                        a {{notebook.name}}
                        i.fa.fa-pencil.tipLabel(ng-click='notebook.edit = true;notebook.edit_name = notebook.name' bs-tooltip data-title='Rename notebook' data-trigger='hover')
                    h1.col-sm-6(ng-show='notebook.edit')
                        input.sql-name-input(ng-model='notebook.edit_name' on-enter='renameNotebook(notebook.edit_name)' on-escape='notebook.edit = false;')
                        i.tipLabel.fa.fa-floppy-o(ng-click='renameNotebook(notebook.edit_name)' bs-tooltip data-title='Save notebook name' data-trigger='hover')
                    h1.col-sm-6
                        i.tipField.fa.fa-plus(ng-click='addParagraph()' bs-tooltip data-title='Add new paragraph' data-trigger='hover')
                .docs-body(style='margin-top: 20px;')
                    hr
                    .panel-group(bs-collapse ng-model='notebook.activeIdx' data-allow-multiple='true' data-start-collapsed='false')
                        .panel.panel-default(ng-repeat='paragraph in notebook.paragraphs')
                            .panel-heading
                                h3(ng-hide='paragraph.edit')
                                    a(bs-collapse-toggle ng-click='hidePopover()') {{paragraph.name}}
                                    i.fa.fa-pencil.tipLabel(ng-click='paragraph.edit = true; paragraph.edit_name = paragraph.name;' bs-tooltip data-title='Rename paragraph' data-trigger='hover')
                                    .result.btn-group(ng-model='paragraph.result')
                                        i.btn.btn-default.fa.fa-table(ng-click='paragraph.result="table"' ng-class="{'active': resultMode(paragraph, 'table')}" bs-tooltip data-title='Show table' data-trigger='hover')
                                        i.btn.btn-default.fa.fa-bar-chart(ng-click='paragraph.result="bar"' ng-class="{'active': resultMode(paragraph, 'bar')}" bs-tooltip data-title='Show bar chart' data-trigger='hover')
                                h3(ng-show='paragraph.edit')
                                    input.sql-name-input(ng-model='paragraph.edit_name' on-enter='renameParagraph(paragraph, paragraph.edit_name)' on-escape='paragraph.edit = false;')
                                    i.tipLabel.fa.fa-floppy-o(ng-click='renameParagraph(paragraph, paragraph.edit_name)' bs-tooltip data-title='Save paragraph name' data-trigger='hover')
                            .panel-collapse(role='tabpanel' bs-collapse-target)
                                .panel-body(ng-show='paragraph.editor')
                                    .row
                                        .col-xs-8.col-sm-9(style='border-right: 1px solid #eee')
                                            .sql-editor(style='height: 200px' ui-ace='{ theme: "chrome", mode: "sql",' +
                                            'require: ["ace/ext/language_tools"],' +
                                            'rendererOptions: {showPrintMargin: false, highlightGutterLine: false, fontSize: 14},' +
                                            'advanced: {enableSnippets: false, enableBasicAutocompletion: true, enableLiveAutocompletion: true}}' ng-model='paragraph.query'
                                            ng-class='{"disable": paragraph.status == "RUNNING" || paragraph.status == "PENDING" }')
                                        .col-xs-4.col-sm-3
                                            div(ng-hide='caches.length == 0' style='padding-left:10px')
                                                lable.labelHeader Caches:
                                                table.links(st-table='caches')
                                                    tbody
                                                        tr(ng-repeat='cache in caches track by cache.name')
                                                            td.col-sm-6(ng-class='{active: cache.name == paragraph.cache.name}')
                                                                a(ng-click='paragraph.cache = cache') {{$index + 1}}) {{::cache.name}}, {{::cache.mode}}
                                    hr(style='margin: 0')
                                    .settings-row
                                        label Page Size:&nbsp;
                                        button.btn.btn-default.base-control(ng-model='paragraph.pageSize' bs-options='item for item in pageSizes' bs-select)
                                    .settings-row
                                        button.btn.btn-primary(ng-click='explain(paragraph)') Explain
                                        button.btn.btn-primary(ng-click='execute(paragraph)') Execute
                                        button.btn.btn-primary(ng-click='scan(paragraph)') Scan
                                .panel-body.table-responsive(ng-show='paragraph.result === "table"')
                                    table.table.table-striped.col-sm-12.sql-results(st-table='displayedCollection' st-safe-src='paragraph.rows')
                                        thead
                                            tr(style='border-size: 0')
                                                td(colspan='{{paragraph.meta.length}}')
                                                    .col-sm-8
                                                        lable Page #:&nbsp;
                                                        b {{paragraph.page}}&nbsp;&nbsp;&nbsp;
                                                        | Results:&nbsp;
                                                        b {{paragraph.rows.length + paragraph.total}}
                                                    .col-sm-4
                                                        button.btn.btn-primary.fieldButton(ng-click='nextPage(paragraph)' ng-disabled='!paragraph.queryId') Next page
                                                        //.input-tip
                                                        //    input.form-control(st-search placeholder='Filter...' type='search')
                                            tr
                                                th(ng-repeat='col in paragraph.meta track by $index' st-sort='getter' data-ng-bind='::col.fieldName' bs-tooltip='columnToolTip(col)')
                                        tbody
                                            //tr
                                            //    td(colspan='{{#{tab}.cols.length}}')
                                            //        .loading-indicator
                                            tr(ng-repeat='row in displayedCollection track by $index')
                                                td(ng-repeat='val in row track by $index') {{ val }}
                                        tfoot
                                            tr
                                                td.text-right(colspan='{{paragraph.meta.length}}')
                                                    div(st-pagination st-items-by-page='10' st-displayed-pages='5')
