//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

extends sidebar

append scripts
    script(src='/caches-controller.js')

include ../includes/controls

block content
    .docs-header
        h1 Create and Configure Ignite Caches
        hr
    .docs-body(ng-controller='cachesController')
        +block-callout('{{screenTip.workflowTitle}}', 'joinTip(screenTip.workflowContent)', '{{screenTip.whatsNextTitle}}', 'joinTip(screenTip.whatsNextContent)')
        +main-table('Caches:', 'caches', 'cacheName', 'selectItem(row)', '{{$index + 1}}) {{row.name}}, {{row.mode | displayValue:modes:"Cache mode not set"}}, {{row.atomicityMode | displayValue:atomicities:"Cache atomicity not set"}}')
        .padding-top-dflt
            button.btn.btn-primary(ng-click='createItem()') Add cache
        hr
        form.form-horizontal(name='ui.inputForm' ng-if='backupItem' novalidate)
            .panel-group(bs-collapse ng-model='panels.activePanels' data-allow-multiple='true')
                +groups('general', 'backupItem')
                div(ng-show='ui.expanded')
                    +advanced-options-bottom
                    +groups('advanced', 'backupItem')
            +advanced-options-top
            .section
                button.btn.btn-primary(ng-click='saveItem()') Save
                button.btn.btn-primary(ng-show='backupItem._id' ng-click='saveItemAs()') Copy
                button.btn.btn-primary(ng-show='backupItem._id' ng-click='removeItem()') Remove
